[user]
    name       = Andrey Alekseenko
    email      = al42and@gmail.com

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff
    noprefix = true

[alias]
    # Base commands
    ci         = commit
    br         = branch
    co         = checkout
    df         = diff
    lg         = log -p
    st         = status --short

    # Stash commands
    sl         = stash list
    sa         = stash apply
    ss         = stash save

    # Show all prfiles
    ls         = !git rev-parse --abbrev-ref HEAD | xargs git ls-tree -r --full-tree --full-name --name-only

    # Show only tracked files
    stu        = status --untracked-files=no

    # Show history
    hist       = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

    # Show diff of given commit
    sd         = show --pretty=format:%b

    # Make "git git" work like "git"
    git        = !git

    dry        = "!f() { git merge-tree $(git merge-base FETCH_HEAD $1) $1 FETCH_HEAD | sed -n '/+<<<<<<< .our/,/+>>>>>>> .their/p;/^changed in both/{n;N;N;s/^/#/mg;p}' ; }; f"

[color]
    ui     = true
    status = true
    diff   = true

    [color "branch"]
        current = yellow reverse
        local   = yellow
        remote  = green

    [color "diff"]
        meta       = green
        frag       = yellow
        old        = magenta
        new        = cyan
        whitespace = red reverse

    [color "status"]
        added      = yellow
        changed    = green
        untracked  = cyan

[pull]
    ff = only

[fetch]
    prune = true

[rerere]
    enabled = true

